<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body class="center vertical_center1 vertical_center2 p3">
<div class="relative">{{ error }} </div>
<form action="/register" >
                <input type="submit" value="Register" class="button-1"/>
            </form>
<form action="/login" >
                <input type="submit" value="Login" class="button-1"/>
            </form>
</body>
</html>