<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="center vertical_center1 vertical_center2 p3">
            <h1 class="relative">Login to continue</h1>
            <form method="POST" class="relative">
                  <div><input type="text" name="username" id="ip2"></div>
                  <div><input type="password" name="password" id="ip2"></div>
                  <input type="submit" value="Submit" class="button-2">
            </form>
            <form action="/register" >
                <input type="submit" value="Register" class="button-1"/>
            </form>
</body>
</html>